h1 {
  font-weight: bolder;
  color: rgb(213, 113, 73);
  font-size: 50px;
  margin-bottom: 0px;
}

ul {
  margin: 0px;
  padding: 5px;
  list-style: none;
}
footer {
  text-align: center;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px 40px 40px;
  border: 1px solid rgb(213, 113, 73);
  border-radius: 20px;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  font-family: "Quicksand", sans-serif;
}
.header {
  padding: 50px 10px;
}
.forecast {
  padding: 30px;
  margin: 100px 50px 0;
  text-align: center;
  color: rgb(213, 113, 73);
}
.temperature-icon {
  font-weight: bolder;
  font-size: 50px;
}
.temperature {
  padding: 0px 20px;
  font-size: 30px;
  color: rgb(213, 113, 73);
  margin-top: 20px;
}
.units {
  position: relative;
  font-size: 18px;
  top: -20px;
}
.list {
  font-size: 16px;
  color: rgb(232, 159, 113);
  list-style: none;
  padding: 0px 15px;
  margin-top: 20px;
}
.last-update {
  font-size: 16px;
  color: rgb(232, 159, 113);
}

li:first-letter {
  text-transform: capitalize;
}

#date {
  font-size: 16px;
  color: rgb(232, 159, 113);
  list-style: none;
}

#description {
  font-size: 16px;
  color: rgb(232, 159, 113);
  list-style: none;
}

#f-link {
  color: rgb(232, 159, 113);
}

#c-link {
  color: rgb(232, 159, 113);
}
#f-link:hover {
  text-decoration: none;
  color: rgb(213, 113, 73);
}
#c-link:hover {
  text-decoration: none;
  color: rgb(213, 113, 73);
}
